# Q1. Find the largest number from the given list, use for loop.

In [1]:
numbers = [12, 75, 150, 180, 145, 525, 50]
import sys
largest=-sys.maxsize      #assignming minimum negative so even if it contain negative then also it will work
for i in numbers:
    if(i>largest):
        largest=i
print("largest number is ",largest)

largest number is  525

# Q2.Print all the even number between (1, 12).

In [2]:
i=1
while(i<=12):
    if(i&1):               #bitwise and operator in odd case it is one so pass else print 
        pass
    else:
        print(i,end=" ")
    i+=1

2 4 6 8 10 12

# Q3. Calculate the sum of all numbers from 1 to a given number

In [6]:
n=int(input("enter number: "))
#method 1: constant time O(1) by formula 
n_natural_sum=(n*(n+1))/2
print("Total sum by formula  is ",int(n_natural_sum))

#method 2: O(n) time by loop
i=1
total_sum=0
while(i<=n):
    total_sum+=i
    i+=1
print("Total sum by loop  is ",total_sum)

enter number: 10
Total sum by formula  is  55
Total sum by loop  is  55

# Q4. Write a program to display only those numbers from a list that satisfy the following conditions

In [ ]:
>>>The number must be divisible by five
>>>If the number is greater than 150, then skip it and move to the next number
>>>If the number is greater than 500, then stop the loop

In [10]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if(i>500):       #satisfy third condition
        break
    elif(i<=150 and i%5==0):   #satisfy first condition
        print(i)
    elif(i>150):          #satisfy second condition
        continue
    else:
        pass

75
150
145

# Q5. Print the given list in reverse order.

In [15]:
list1 = [10, 20, 30, 40, 50]

In [16]:
#method 1 by slicing
print(list1[::-1])     #here this is only printing but no change in original list

[50, 40, 30, 20, 10]

In [17]:
#method 2 by loop
for i in range(len(list1)-1,0,-1):
    print(list1[i],end=" ")

50 40 30 20

In [18]:
#method 3 by reversing 
list1.reverse()        #here list element is changed their position
print(list1)

[50, 40, 30, 20, 10]